@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* __________________________________Змінні_______________________________________ */

:root {
    /* для шрифта */
    --font-f: "Bad Script", cursive;
    --font-w: 600;
    --font-s: normal;
    /* колір шрифта */
    --font-c1: red;
    --font-c2: yellow;
    --font-c3: white;
    /* колір ігрової рамки */
    --color-border-g: rgb(255, 0, 239);
}

/* ________________________________________________________________________________ */

* {
    cursor: url('./img/strilka.png'), auto;
}

body {
    background-color: blue;
}

/* ________________________________Анімація__________________________________________ */

.container {
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.krest {
    margin: 50px 100px 100px 100px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.226);
    transform: translate(0, 0);
    animation: xrectuk 5s linear infinite alternate 0s backwards;
    transition: color 3s ease 0s;
}

@keyframes xrectuk {
    0%{
        transform: translate(0, 0);
    }
    50%{
        color: rgba(0, 0, 0, 0.175);
    }
    100%{
        transform: translate(40px, 40px);
    }
}

.colo {
    margin: 50px 100px 100px 100px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.233);
    transform: translateY(0);
    animation: cryg 2s linear infinite alternate 0s forwards;
    transition: color 3s ease 0s;
}

@keyframes cryg {
    0%{
        transform: translateY(0);
    }
    50%{
        color: rgba(0, 0, 0, 0.175);
    }
    100%{
        transform: translateY(40px);
    }
}

/* _____________________________________________________________________________ */

/* ___________________________Перша сторінка____________________________________ */

.forma {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 500px;
    height: 500px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 18px;
    padding: 15px 0 0 0;
    border: 10px solid rgb(4, 248, 4);
}

.Pole_1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 30px 0 0 30px;
}

.Pole_1 p:nth-of-type(1) {
    font-size: 24px;
    margin: 0;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c1);
}

.Pole_1 input {
    margin: 8px 20px 0 20px;
    width: 230px;
    height: 25.667px;
    font-size: 20px;
}

.Pole_1 p:nth-of-type(2) {
    margin: 0;
    font-size: 36px;
    color: var(--font-c1);
    font-weight: 900;
}

.Pole_2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 60px 0 0 30px;
}

.Pole_2 p:nth-of-type(1) {
    margin: 0;
    font-size: 24px;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c2);
}

.Pole_2 input {
    margin: 8px 20px 0 20px;
    width: 230px;
    height: 25.667px;
    font-size: 20px;
}

.Pole_2 p:nth-of-type(2) {
    margin: 0;
    font-size: 36px;
    color: var(--font-c2);
    font-weight: 900;
}

.Pole_3 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 60px 0 0 30px;
}

.Pole_3 p:nth-of-type(1) {
    font-size: 24px;
    margin: 0;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: #ff00e3;
}

.Pole_3 input {
    margin: 8px 20px 0 20px;
    width: 35px;
    height: 25.667px;
    font-size: 20px;
}

/* _________________________________Кнопка____________________________________ */

.forma button {
    margin: 80px 30px 0 30px;
    width: 435px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    border-color: white;
    transition: background-color 1s ease, color 1s ease, font-size 1s ease, font-style 3s ease;
}

.forma button:hover {
    cursor: url('./img/hend.png'), auto;
    background-color: transparent;
    font-size: 32px;
    color: white;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
}

/* ___________________________________________________________________________ */

/* ______________________________________Друга Сторінка_______________________ */

/* Ігрове поле */
.forma2 {
    position: absolute;
    top: 10%;
    left: 32%;
    width: 800px;
    height: 1000px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 18px;
    /* padding: 15px 0 0 0; */
    border: 10px solid rgb(4, 248, 4);
}
/* ___ */

/* Верхня частина */
.pole_head {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.head_components {
    height: 199px;
    width: 260px;
}

.head1 {
    display: flex;
    flex-direction: column
}

.head1_1 {
    display: flex;
    flex-direction: row;
}

.head1_1 p:nth-of-type(1) {
    margin: 28px 10px 0 0;
    font-size: 28px;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c3);
    width: 170px;
    text-align: end;
}

.head1 p:nth-of-type(2) {
    margin: 22px 0 0 0;
    color: var(--font-c1);
    font-size: 56px;
    font-weight: 600;
}

.head1_2 {
    margin: -32px 0 0 0;
    text-align: center;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c3);
    font-size: 72px;
    margin-top: -32px;
}

.head2 {
    display: flex;
    flex-direction: column;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c3);
}

.head2 p:nth-child(1) {
    text-align: center;
    margin: 28px 0 0 0;
    font-size: 28px;
}

.head2 p:nth-child(2) {
    text-align: center;
    font-size: 46px;
    margin: -16px 0 0 0;
}

.head3 {
    display: flex;
    flex-direction: column
}

.head3_1 {
    display: flex;
    flex-direction: row;
}

.head3_1 p:nth-of-type(1) {
    margin: 28px 10px 0 0;
    font-size: 28px;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c3);
    width: 170px;
    text-align: end;
}

.head3 p:nth-of-type(2) {
    margin: 22px 0 0 0;
    color: var(--font-c2);
    font-size: 56px;
    font-weight: 600;
}

.head3_2 {
    margin: -32px 0 0 0;
    text-align: center;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    color: var(--font-c3);
    font-size: 72px;
    margin-top: -32px;
}

/* ________ */


/* Ігрова Частина */
.pole_main {
    display: flex;
    flex-wrap: wrap;
}

.fon {
    width: 250px;
    height: 250px;
    /* margin: 5px; */
    /* background-color: blueviolet; */
}

.kybuk1 {
    position: relative;
    margin: 6px 0 0 7px;
}

.kybuk2 {
    position: relative;
    border-left: 9px solid var(--color-border-g);
    border-right: 9px solid var(--color-border-g);
    margin: 6px 0 0 0;
}


.kybuk3 {
    position: relative;
    margin: 6px 0 0 0;
}

.kybuk4 {
    position: relative;
    border-top: 9px solid var(--color-border-g);
    border-bottom: 9px solid var(--color-border-g);
    margin: 0 0 0 7px;
}

.kybuk5 {
    position: relative;
    border-left: 9px solid var(--color-border-g);
    border-right: 9px solid var(--color-border-g);
    border-top: 9px solid var(--color-border-g);
    border-bottom: 9px solid var(--color-border-g);
}

.kybuk6 {
    position: relative;
    border-top: 9px solid var(--color-border-g);
    border-bottom: 9px solid var(--color-border-g);
}

.kybuk7 {
    position: relative;
    margin: 0 0 0 7px;
}

.kybuk8 {
    position: relative;
    border-left: 9px solid var(--color-border-g);
    border-right: 9px solid var(--color-border-g);
}

.kybuk9 {
    position: relative;
}

/* ___ */

/* анімація хрестик */

.paluchka1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: red;
    width: 10px;
    height: 0;
    transform-origin: left bottom;
    transform: rotate(45deg);
    border-radius: 8px;
    animation: palca1 500ms linear 0s 1 normal forwards;
}

@keyframes palca1 {
    0% {
        height: 0;
    }
    100% {
        height: 300px;
    }
}

.paluchka2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    width: 10px;
    height: 0;
    transform-origin: left bottom;
    transform: rotate(-45deg);
    border-radius: 8px;
    animation: palca2 500ms linear 500ms 1 normal forwards;
}

@keyframes palca2 {
    0% {
        height: 0;
    }
    100% {
        height: 300px;
    }
}

/* Анімація преимоги */
/* ______________кнопка 1_______________ */
/* ___________________1__________________ */
.vfx1k1 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vx1k1 500ms linear 1s 1 normal forwards;
}

@keyframes vx1k1 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo1k1 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vo1k1 500ms linear 1s 1 normal forwards;
}

@keyframes vo1k1 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* ______________________4____________________________ */

.vfx4k1 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    top: 125px;
    z-index: 1;
    animation: vx4k1 500ms linear 1s 1 normal forwards;
}

@keyframes vx4k1 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo4k1 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    top: 125px;
    z-index: 1;
    animation: vo4k1 500ms linear 1s 1 normal forwards;
}

@keyframes vo4k1 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* _____________________7__________________________ */

.vfx7k1 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: 9px;
    left: -2px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vx7k1 500ms linear 1s 1 normal forwards;
}

@keyframes vx7k1 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo7k1 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: 9px;
    left: -2px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vo7k1 500ms linear 1s 1 normal forwards;
}

@keyframes vo7k1 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* _________________________кнопка 2_______________________ */
/* ________________________2__________________________________ */

.vfx2k2 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vx2k2 500ms linear 1s 1 normal forwards;
}

@keyframes vx2k2 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo2k2 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vo2k2 500ms linear 1s 1 normal forwards;
}

@keyframes vo2k2 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* ___________________________4_________________________ */

.vfx4k2 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vx4k2 500ms linear 1s 1 normal forwards;
}

@keyframes vx4k2 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo4k2 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vo4k2 500ms linear 1s 1 normal forwards;
}

@keyframes vo4k2 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* _____________________кнопка 3__________________________ */
/* ______________________3________________________________ */

.vfx3k3 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vx3k3 500ms linear 1s 1 normal forwards;
}

@keyframes vx3k3 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo3k3 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    z-index: 1;
    animation: vo3k3 500ms linear 1s 1 normal forwards;
}

@keyframes vo3k3 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* ____________________________4_________________________ */

.vfx4k3 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vx4k3 500ms linear 1s 1 normal forwards;
}

@keyframes vx4k3 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo4k3 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vo4k3 500ms linear 1s 1 normal forwards;
}

@keyframes vo4k3 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* ________________________8__________________________________ */

.vfx8k3 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: 13px;
    left: 231px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vx8k3 500ms linear 1s 1 normal forwards;
}

@keyframes vx8k3 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo8k3 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: 13px;
    left: 231px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vo8k3 500ms linear 1s 1 normal forwards;
}

@keyframes vo8k3 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* ________________кнопка 4_______________ */
/* ___________________1__________________ */
.vfx1k4 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vx1k4 500ms linear 1s 1 normal forwards;
}

@keyframes vx1k4 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo1k4 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vo1k4 500ms linear 1s 1 normal forwards;
}

@keyframes vo1k4 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* ____________________________5_________________________ */

.vfx5k4 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: 0;
    top: 120px;
    z-index: 1;
    animation: vx5k4 500ms linear 1s 1 normal forwards;
}

@keyframes vx5k4 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo5k4 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: 0;
    top: 120px;
    z-index: 1;
    animation: vo5k4 500ms linear 1s 1 normal forwards;
}

@keyframes vo5k4 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* __________________кнопка 5______________________________ */
/* _____________________2__________________________________ */

.vfx2k5 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vx2k5 500ms linear 1s 1 normal forwards;
}

@keyframes vx2k5 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo2k5 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vo2k2 500ms linear 1s 1 normal forwards;
}

@keyframes vo2k5 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* _____________________________5______________________ */

.vfx5k5 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vx5k5 500ms linear 1s 1 normal forwards;
}

@keyframes vx5k5 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo5k5 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vo5k5 500ms linear 1s 1 normal forwards;
}

@keyframes vo5k5 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* ______________________________7_________________________ */

.vfx7k5 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -242px;
    left: -256px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vx7k5 500ms linear 1s 1 normal forwards;
}

@keyframes vx7k5 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo7k5 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -242px;
    left: -256px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vo7k5 500ms linear 1s 1 normal forwards;
}

@keyframes vo7k5 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* ______________________________8_______________________________ */
.vfx8k5 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -245px;
    left: 489px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vx8k5 500ms linear 1s 1 normal forwards;
}

@keyframes vx8k5 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo8k5 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -245px;
    left: 489px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vo8k3 500ms linear 1s 1 normal forwards;
}

@keyframes vo8k5 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* ______________________________кнопка 6___________________ */
/* ______________________________3___________________________ */
.vfx3k6 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vx3k6 500ms linear 1s 1 normal forwards;
}

@keyframes vx3k6 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo3k6 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -257px;
    z-index: 1;
    animation: vo1k4 500ms linear 1s 1 normal forwards;
}

@keyframes vo3k6 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* _______________________________5_____________________ */

.vfx5k6 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vx5k6 500ms linear 1s 1 normal forwards;
}

@keyframes vx5k6 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo5k6 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vo5k6 500ms linear 1s 1 normal forwards;
}

@keyframes vo5k6 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* _____________________кнопка 7__________________________ */

/* ___________________1__________________ */
.vfx1k7 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -517px;
    z-index: 1;
    animation: vx1k7 500ms linear 1s 1 normal forwards;
}

@keyframes vx1k7 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo1k7 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    top: -517px;
    left: 122px;
    z-index: 1;
    animation: vo1k7 500ms linear 1s 1 normal forwards;
}

@keyframes vo1k7 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* __________________6________________________________________ */

.vfx6k7 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    top: 125px;
    z-index: 1;
    animation: vx6k7 500ms linear 1s 1 normal forwards;
}

@keyframes vx6k7 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo6k7 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    top: 125px;
    z-index: 1;
    animation: vo6k7 500ms linear 1s 1 normal forwards;
}

@keyframes vo6k7 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* _________________________8_______________________________ */

.vfx8k7 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -508px;
    left: 754px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vx8k7 500ms linear 1s 1 normal forwards;
}

@keyframes vx8k7 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo8k7 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -508px;
    left: 754px;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(45deg);
    animation: vo8k7 500ms linear 1s 1 normal forwards;
}

@keyframes vo8k7 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* __________________________кнопка 8_________________________ */

/* _____________________________2_____________________________ */
.vfx2k8 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -517px;
    z-index: 1;
    animation: vx2k8 500ms linear 1s 1 normal forwards;
}

@keyframes vx2k8 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo2k8 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    top: -517px;
    left: 122px;
    z-index: 1;
    animation: vo2k8 500ms linear 1s 1 normal forwards;
}

@keyframes vo2k8 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* ___________________6____________________________________________ */

.vfx6k8 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vx6k8 500ms linear 1s 1 normal forwards;
}

@keyframes vx6k8 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo6k8 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -259px;
    top: 120px;
    z-index: 1;
    animation: vo6k8 500ms linear 1s 1 normal forwards;
}

@keyframes vo6k8 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* _______________________кнопка 9___________________________ */
/* __________________________3______________________________ */
.vfx3k9 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    left: 122px;
    top: -517px;
    z-index: 1;
    animation: vx3k9 500ms linear 1s 1 normal forwards;
}

@keyframes vx3k9 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

.vfo3k9 {
    position: absolute;
    background-color: yellow;
    height: 0;         
    width: 20px;
    border-radius: 5px;
    top: -517px;
    left: 122px;
    z-index: 1;
    animation: vo1k7 500ms linear 1s 1 normal forwards;
}

@keyframes vo3k9 {
    0% {
        height: 0;
    }
    100% {
        height: 767px;
    }
}

/* _______________________6____________________________ */

.vfx6k9 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vx6k9 500ms linear 1s 1 normal forwards;
}

@keyframes vx6k9 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

.vfo6k9 {
    position: absolute;
    background-color: yellow;
    height: 20px;
    width: 0;
    border-radius: 5px;
    left: -517px;
    top: 120px;
    z-index: 1;
    animation: vo6k9 500ms linear 1s 1 normal forwards;
}

@keyframes vo6k9 {
    0% {
        width: 0;
    }
    100% {
        width: 767px;
    }
}

/* __________________________7_________________________ */

.vfx7k9 {
    position: absolute;
    background-color: red;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -507px;
    left: -519px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vx7k9 500ms linear 1s 1 normal forwards;
}

@keyframes vx7k9 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

.vfo7k9 {
    position: absolute;
    background-color: yellow;
    height: 0;
    width: 20px;
    border-radius: 5px;
    top: -507px;
    left: -519px;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-45deg);
    animation: vo7k9 500ms linear 1s 1 normal forwards;
}

@keyframes vo7k9 {
    0% {
        height: 0;
    }
    100% {
        height: 1070px;
    }
}

/* ______________________________Нічія______________________ */

.nichia div {
    background-color: rgba(4, 248, 4, 0);
    position: absolute;
    top: -465px;
    left: -269px;
    z-index: 3;
    width: 790px;
    height: 984px;
    animation:neceina 500ms linear 0s 1 normal forwards;
}

@keyframes neceina {
    0% {
        background-color: rgba(4, 248, 4, 0);
    }
    100% {
        background-color: rgba(4, 248, 4, 0.994);
    }
}

.nichia p:nth-of-type(1) {
    color: black;
    margin: 0;
    width: 600px;
    position: absolute;
    z-index: 4;
    font-size: 0;
    transform-origin: center;
    top: -180px;
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    left: -154px;
    animation:nadpus 500ms linear 0s 1 normal forwards;
}

@keyframes nadpus {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 100px;
    }
}

.nichia p:nth-of-type(2) {
    color: black;
    margin: 0;
    width: 600px;
    position: absolute;
    z-index: 4;
    font-size: 0;
    transform-origin: center;
    /* top: -180px; */
    font-family: var(--font-f);
    font-weight: var(--font-w);
    font-style: var(--font-s);
    left: -154px;
    animation:nadpus 500ms linear 0s 1 normal forwards;
}

@keyframes nadpus {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 100px;
    }
}